$color-1: #FFFFFF;
$color-2: #F2CEF2;
$color-3: #9E91B7;
$color-4: #DF99F2;
$color-5: #3D2DA6;
$color-6: #07338C;
$color-7: #021740;

*{
    margin: 0;
    padding: 0;
}
body, html{
    width: 100%;
    height: 100%;
    background-image: url(./../../Assets/Illustrations&Logo/Allpages/arrière_plan.png);
    background-size: cover;
}  
h1, .beyno{
    color: $color-3;
    font-family: "beyno";
    
} 
p{
    text-align: justify;
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(-400px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@font-face {
  font-family: "Panthera";
  src: url(./../../Assets/Police/panthera.ttf);
}
@font-face {
  font-family: "Wakanda";
  src: url(./../../Assets/Police/wakanda-forever-regular.ttf);
}
@font-face {
  font-family: "beyno";
  src: url(./../../Assets/Police/beyno-regular.otf);
}
.waka{
    font-family: "Wakanda";
    letter-spacing: 20px;
}
.fade-in {
  //opacity: 0;
  //transform: translateX(-100px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.fade-in.fade-in-visible {
  //opacity: 1;
  //transform: translateX(0);
  animation: fade-in-left 1s ease-in-out;
}
